<div class="mx-md-5 d-flex flex-wrap-reverse">
  <div class="col-md-8 mt-5">
    <p class="font-vwh-2">Welcome to YNAD</p>
    <p class="">Sign up to take full advantage of the following features:</p>
    <ul>
      <span class="mx-2">
        <li class="h5">ADD YOUR PARTNER</li>
        <ol>
          <li>Invite your YNAB subscribed parter to view each other's dashboard/expenses. Take full control of your spendings</li>
          <li>View personal + combined dashboards to see how your household cash flows.</li>
        </ol>
      </span>

      <span class="mx-2">
        <li class="h5">DASHBOARD</li>
        <ol>
          <li>See your cashflow for the last 90 days.</li>
          <li>Know exactly how much you have in every bank account.</li>
          <li>View your current month's expense and income</li>
          <li>See your largest expenses and income for the last 10 days</li>
        </ol>
      </span>

      <span class="mx-2">
        <li class="h5">RECOMENDATIONS &amp; UPDATES</li>
        <ol>
          <li>Get periodic updates via email to see how your budget is looking.</li>
          <li>Receive recommendations based on your spending where you can save a bit more.</li>
        </ol>
      </span>
    </ul>
  </div>
  <div class="col-md-4 mt-5 pt-5 pb-5 px-4 bg-light border rounded">
    <h2 class="text-center">Sign up</h2>
    <%= render 'form' %>
  </div>
</div>
