<div class="mx-md-5 d-flex flex-wrap-reverse">
  <div class="col-md-8 mt-5">
    <p class="font-vwh-2">Welcome to YNAD</p>
    <p class="">Sign up to take full advantage of the following features:</p>
    <ul>
      <span class="mx-2">
        <li class="h5">ADD A PARTNER</li>
        <ol>
          <li>Invite your YNAB subscribed partner to view each other's dashboard.</li>
          <li>Take full control of your spendings and household cash flows.</li>
        </ol>
      </span>

      <span class="mx-2">
        <li class="h5">GET TO KNOW YOUR FINANCIAL HEALTH</li>
        <ol>
          <li>Get a quick snapshot of your Net Worth, Income, and Expenses.</li>
        </ol>
      </span>

      <span class="mx-2">
        <li class="h5">DASHBOARD</li>
        <ol>
          <li>See your cashflow for the last 90 days.</li>
          <li>Know exactly how much you have in every bank account.</li>
          <li>View your current month's expenses and income.</li>
        </ol>
      </span>

      <span class="mx-2">
        <li class="h5">INSIGHTS</li>
        <ol>
          <li>Evaluate the distribution of your expenses.</li>
          <li>Monitor your most recent bank activities.</li>
        </ol>
      </span>
    </ul>
  </div>
  <div class="col-md-4 mt-5 pt-5 pb-5 px-4 bg-light border rounded">
    <h2 class="text-center">Sign up</h2>
    <%= render 'form' %>
  </div>
</div>
