<div class="text-center text-info">
  <%= link_to 'Privacy Policy', privacy_policy_path, class: 'text-info' %>
  &bullet;
  <%= link_to 'Terms of Service', privacy_policy_path, class: 'text-info' %>
  &bullet;
  <%= render template: 'legal/contacts/index' %>
</div>
