<div>
  <h4>Connect your YNAB to start importing data</h4>
  <ul>
    <li>This application will only <span class="font-weight-bold">read</span> data from YNAB and <span class="font-weight-bold">NOT write</span> to YNAB.</li>
  </ul>
</div>
