<div class="d-flex align-items-top">
  <div class="col-md-4">
    <h5>Budgets</h5>
  </div>
  <div class="col-md-8">
    <ul>
      <% current_user.budgets.each do |budget| %>
        <li>
          <%= budget.name %>
          <% if budget.primary? %>
            <span class="badge badge-pill badge-info">
              Primary
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

