<div class="d-flex align-items-center">
  <div class="col-md-4">
    <h5>Delete Your Account</h5>
  </div>
  <div class="col-md-8">
    <button type="button" class="btn btn-outline-danger">Delete Account</button>
  </div>
</div>
