<div class="d-flex flex-wrap">
  <div class="col-md-4">
    <h5>Personal Information</h5>
  </div>
  <div class="col-md-8">
    <div class="d-flex flex-wrap">
      <div class="col-md-4 font-weight-bold">Name</div>
      <div class="col-md-8"><%= current_user.full_name %></div>
    </div>
  </div>
  <div class="col-md-8 offset-md-4">
    <div class="d-flex flex-wrap">
      <div class="col-md-4 font-weight-bold">Email:</div>
      <div class="col-md-8"><%= current_user.email %></div>
    </div>
  </div>
  <div class="col-md-8 offset-md-4">
    <div class="d-flex flex-wrap">
      <div class="col-md-4 font-weight-bold">Password:</div>
      <div class="col-md-8">
        <span class="d-flex flex-wrap">
          <p class="lead mr-2"><%= '*'*12 %></p>
          <%= link_to 'Change Password', '', class: 'text-info'  %>
        </span>
      </div>
    </div>
  </div>
</div>

