<div class="d-flex">
  <div class="col-md-4">
    <h5>YNAB Connection</h5>
  </div>
  <div class="col-md-8">
    <% if current_user.ynab_connected? %>
      <span class="badge badge-pill badge-success mr-2">Connected</span>
      <%= link_to 'Disconnect', disconnect_ynab_path, method: :post, class: 'text-danger' %>
    <% else %>
      <span class="badge badge-pill badge-warning mr-2">Not Connected</span>
      <%= link_to 'Connect', ynab_oauth_url, class: 'text-info' %>
    <% end %>
  </div>
</div>

