<div class="col-md-6 offset-md-3 mt-5">
  <h4>Account</h4>
  <hr />

  <div class="mt-5">
    <%= render 'personal_information' %>
    <hr />

    <%= render 'ynab_connection' %>
    <hr />

    <%= render 'friend_requests' %>
    <hr />

    <%= render 'delete_account' %>
  </div>
</div>

