<div class="card mb-4">
  <div class="card-body">
    <div class="card-title font-vh-4">
      <span class="d-flex card-title justify-content-center">
        <span class="h3">$</span>
        <%= title %>
      </span>
    </div>
    <span class="d-flex justify-content-center align-items-baseline">
      <h5 class="card-subtitle mb-2 text-muted">
        <%= subtitle %>
      </h5>
      <span class="ml-2">
        <%= link_to icon('fas', 'question-circle'), '',
          class: 'text-muted',
          data: { toggle: 'tooltip', placement: 'bottom', title: tooltip_from_title(subtitle) }
        %>
      </span>
    </span>
  </div>
</div>
