<div class="card">
  <div class="card-body">
    <div class="card-title display-3">
      <span class="d-flex justify-content-center">
        <span class="h1">$</span>
        <%= title %>
      </span>
    </div>
    <h5 class="card-subtitle mb-2 text-muted"><%= subtitle %></h5>
  </div>
</div>
