<div class="col-md-3 text-info font-weight-bold">
  <%= render partial: 'dashboards/card', locals: { title: number_to_currency(@net_worth, unit: ''), subtitle: 'Net Worth' } %>
</div>

<div class="col-md-3 text-success">
  <%= render partial: 'dashboards/card', locals: { title: number_to_currency(@user_current_month_income, unit: ''), subtitle: 'Income' } %>
</div>

<div class="col-md-3 text-danger">
  <%= render partial: 'dashboards/card', locals: { title: number_to_currency(@user_current_month_expense, unit: ''), subtitle: 'Expense' } %>
</div>

