<div class="col-md-12 mb-5 d-flex flex-wrap justify-content-center">
  <div class="col-md-6 border p-4">
    <%= render 'dashboards/cashflow' %>
  </div>

  <div class="col-md-6 border p-4">
    <%= render 'dashboards/bank_balances' %>
  </div>
</div>

<hr />

<div class="col-md-8 offset-md-2 border p-4 mt-5">
  <%= render 'dashboards/category_groups_pie' %>
</div>

