<div class="col-md-12 mb-5 d-flex flex-wrap justify-content-center">
  <div class="col-md-6 border p-4">
    <%= render 'dashboards/income_table' %>
  </div>

  <div class="col-md-6 border p-4">
    <%= render 'dashboards/expense_table' %>
  </div>
</div>

