<div class="col-md-12 mb-5 d-flex flex-wrap justify-content-center">
  <div class="col-md-6 border p-4">
    <span class="d-flex justify-items-center align-items-baseline">
      <p class="h4 mb-5">Your income last week</p>
    </span>
    <%= render 'dashboards/income_table' %>
  </div>

  <div class="col-md-6 border p-4">
    <span class="d-flex justify-items-center align-items-baseline">
      <p class="h4 mb-5">Your expense last week</p>
    </span>
    <%= render 'dashboards/expense_table' %>
  </div>
</div>

