<div class="text-center">
  <div class="col-md-4 offset-md-4 mt-4">
    <%= render 'shared/flash_messages' %>
  </div>

  <h1>
    <%= current_date %>
  </h1>

  <% if current_user.ynab_connected? %>
    <div class="d-flex flex-wrap justify-content-center mt-4">
      <div class="col-md-3 text-success">
        <%= render partial: 'card', locals: { title: current_user.current_month_income, subtitle: 'Income' } %>
      </div>

      <div class="col-md-3 text-danger">
        <%= render partial: 'card', locals: { title: current_user.current_month_expense, subtitle: 'Expenses' } %>
      </div>
    </div>
  <% end %>
</div>
