<div class="text-center">
  <div class="col-md-4 offset-md-4 mt-4">
    <%= render 'shared/flash_messages' %>
  </div>

  <h1>Dashboard</h1>
  <%= link_to 'Refresh', import_path, method: :post %>

  <% unless current_user.ynab_connected? %>
    <%= link_to 'Connect YNAB', ynab_oauth_url, class: 'btn btn-info' %>
  <% end %>
</div>
