<%= simple_form_for @friend_request do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.button :submit, 'Send Request', class: "btn btn-info", required: true %>
  </div>
<% end %>
