<div class="mt-5">
  <p class="h1 text-center">Add your Partner (in crime... or expenses)</p>
  <div class="col-md-6 offset-md-3 mt-4">
    <p class="h3 text-center">How does it work?</p>
    <ul>
      <li>Add your partner's email in the form below and send a request.</li>
      <li>Your partner will receive an email requesting them to sign up for YNAD (You Need A Dashboard).</li>
      <li>Once your partner has signed up, they will be able to connect their YNAB account.</li>
      <li>Both of you will then have access to each other's dashboards.</li>
    </ul>
  </div>
  <div class="mt-4 col-md-2 offset-md-5">
    <%= render 'form' %>
  </div>

  <div class="col-md-6 offset-md-3 mt-4">
    <div class="alert alert-info" role="alert">
      <span class="font-weight-bold">Note:</span> <%= t('messages.partner.only_primary_shared') %>
    </div>
  </div>
</div>
